<div class="bg-white shadow rounded-lg p-4 w-full mb-4 flex flex-wrap">
    <div class="w-full lg:w-1/4 sm:w-full px-3 mb-6 md:mb-0">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full px-3">
                <div class="mb-3 w-full"><label
                        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-city">People</label>
                    <select class="bg-gray-50 border border-gray-300 hidden" data-te-select-filter="true"
                        data-te-select-init="" data-te-select-size="lg" hx-get="{{ url_for('dashboard') }}"
                        hx-include="[name='min_date'],[name='max_date'],[name='exercise_id']" hx-push-url="true"
                        hx-target="#container" id="dashboard-people-multi-select" multiple="" name="person_id">
                        {% for p in people %}
                        <option value="{{ p['PersonId'] }}">{{
                            p['Name']
                            }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <script>te.Select.getOrCreateInstance(document.querySelector("#dashboard-people-multi-select")).setValue({{ list_to_string(selected_person_ids) | safe}})</script>
        </div>
    </div>
    <div class="w-full lg:w-1/4 sm:w-full px-3 mb-6 md:mb-0">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full px-3">
                <div class="mb-3 w-full"><label
                        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-city">Exercises</label>
                    <select class="bg-gray-50 border border-gray-300 hidden" data-te-select-filter="true"
                        data-te-select-init="" data-te-select-size="lg" hx-get="{{ url_for('dashboard') }}"
                        hx-include="[name='min_date'],[name='max_date'],[name='person_id']" hx-push-url="true"
                        hx-target="#container" id="dashboard-exercise-multi-select" multiple="" name="exercise_id">
                        {% for e in exercises %}
                        <option value="{{ e['ExerciseId'] }}">{{
                            e['Name']
                            }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <script>te.Select.getOrCreateInstance(document.querySelector("#dashboard-exercise-multi-select")).setValue({{ list_to_string(selected_exercise_ids) | safe}})</script>
        </div>
    </div>
    <div class="w-full lg:w-1/4 sm:w-full  px-3 mb-6 md:mb-0"><label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">Min
            date</label>
        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"><svg
                    class="w-5 h-5 text-gray-500 dark:text-gray-400" viewBox="0 0 20 20" aria-hidden="true"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill:currentColor;">
                    <path
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg></div><input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full"
                hx-get="{{ url_for('dashboard') }}"
                hx-include="[name='min_date'],[name='max_date'],[name='person_id'],[name='exercise_id']"
                hx-push-url="true" hx-target="#container" hx-trigger="change" name="min_date" type="date"
                value="{{ min_date }}">
        </div>
    </div>
    <div class="w-full lg:w-1/4 sm:w-full  px-3 mb-6 md:mb-0"><label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">Max
            date</label>
        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"><svg
                    class="w-5 h-5 text-gray-500 dark:text-gray-400" viewBox="0 0 20 20" aria-hidden="true"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill:currentColor;">
                    <path
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd" fill-rule="evenodd"></path>
                </svg></div><input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full"
                hx-get="{{ url_for('dashboard') }}" hx-push-url="true" hx-target="#container" hx-trigger="change"
                name="max_date" type="date" value="{{ max_date }}">
        </div>
    </div>
</div>


<div class="w-full grid grid-cols-1 xl:grid-cols-3 2xl:grid-cols-3 gap-4">
    {% for p in model['People'] %}
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">

        <div class="mb-4 flex items-center justify-between">
            <div>
                <h3 class="text-xl font-bold text-gray-900 mb-2">{{ p['PersonName'] }}</h3>
                <span class="text-base font-normal text-gray-500">Current rep maxes</span>
            </div>
            <div class="flex-shrink-0">
                <a hx-get="{{ url_for('get_calendar' ,person_id=p['PersonId']) }}" hx-push-url="true"
                    hx-target="#container"
                    class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2 cursor-pointer">View
                    workouts</a>
            </div>
        </div>

        {% if p['NumberOfWorkouts'] == 0 %}
        <div class="bg-purple-100 rounded-lg py-5 px-6 mb-4 text-base text-purple-700 mb-3" role="alert">
            No workouts completed.
        </div>
        {% endif %}

        {% for e in p['Exercises'] %}
        <div class="flex flex-col mt-8">
            <div class="overflow-x-auto rounded-lg">
                <div class="align-middle inline-block min-w-full">
                    <div class="shadow overflow-hidden sm:rounded-lg">
                        <h4 class="text-l font-semibold text-blue-400 mb-2 text-center">{{ e['ExerciseName'] }}</h4>
                        {% if e['RepMaxes']|length > 1 %}
                        <div id="person-{{ p['PersonId'] }}-exercise-{{ e['ExerciseId'] }}"
                            class="w-full mt-2 aspect-video"></div>
                        <script>
                            Plotly.newPlot(document.getElementById("person-{{ p['PersonId'] }}-exercise-{{ e['ExerciseId'] }}"), [{
                                x: {{ e['EstimatedOneRepMaxProgressions']['StartDates'] | replace('"', "'") | safe }},
                                y: {{ e['EstimatedOneRepMaxProgressions']['Estimated1RMs'] | replace('"', "'") | safe }},
                                text: {{ e['EstimatedOneRepMaxProgressions']['TopSets'] | replace('"', "'") | safe }},
                                name: "{{ p['PersonName'] }} - {{ e['ExerciseName'] }}",
                                hovertemplate
                            }], layout, config);
                        </script>
                        {% endif %}
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col"
                                        class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Date
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Rep Max
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">

                                {% for rm in e['RepMaxes'] %}
                                <tr>
                                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                        {{ rm['StartDate'] }}
                                    </td>
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        {{ rm['Repetitions'] }} x {{ rm['Weight'] }}kg
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}


</div>

{{ render_partial('partials/stats.html', stats=model['Stats']) }}