{% extends 'base.html' %}

{% block content %}

<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">

    <div class="mb-4 flex items-center justify-between">
        <div>
            <h3 class="text-xl font-bold text-gray-900 mb-2">{{ person['Name'] }}</h3>
            <span class="text-base font-normal text-gray-500">List of workouts</span>
        </div>
    </div>

    <div class="flex flex-col mt-8">
        <div class="overflow-x-auto rounded-lg">
            <div class="align-middle inline-block min-w-full">
                <div class="shadow overflow-hidden sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Date
                                </th>
                                {% for e in exercises %}
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    {{ e['Name'] }}
                                </th>
                                {% endfor %}
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-8">
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">

                            {% for w in workouts %}
                            <tr>
                                <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                    {{ w['start_date'] }}
                                </td>

                                {% for e in exercises %}
                                <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                    {% if e['ExcerciseId'] in w['topset_exercises'] %}
                                    {{ w['topset_exercises'][e['ExcerciseId']] }}
                                    {% endif %}
                                </td>
                                {% endfor %}

                                <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                    <a href="{{ url_for('show_workout_for_person' ,person_id=person_id, workout_id=w['workout_id']) }}"
                                        class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
                                        Edit
                                    </a>

                                    <form
                                        action="{{ url_for('delete_workout_from_person', person_id=person_id, workout_id=w['workout_id']) }}"
                                        method="delete" class="inline">
                                        <button
                                            class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2"
                                            type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <form action="{{ url_for('new_workout_for_person', person_id=person_id) }}" method="post">
                        <button
                            class="sm:inline-flex text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mt-6">New
                            workout</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}